SUBSYSTEM=="iio", KERNEL=="iio:device0", ACTION=="add|change", \
    RUN+="/bin/chgrp audio-eq /sys/bus/iio/devices/iio:device0/out_voltage0_raw /sys/bus/iio/devices/iio:device0/out_voltage1_raw", \
    RUN+="/bin/chmod 0660 /sys/bus/iio/devices/iio:device0/out_voltage0_raw /sys/bus/iio/devices/iio:device0/out_voltage1_raw"
